* {
    box-sizing: border-box;
}

body{
    background-color: #dddddd;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png);
    background-repeat: repeat;
    
}
.header {
    background-color: #ffffff;
    border-bottom: #ccc solid 2px;
    height: 60px;
    margin-bottom: 20px;
}

.headerEnc {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.row{
    margin: 0 auto;
}
.borderRight {
    border-right: #ccc solid 2px;
    padding: 5px;
    margin: 5px;
}
.nameLogo {
    background-color: rgb(2, 4, 36);
    color: #ccc;
    font-size: 40px;
    padding: 10px;
}

.sidebar {
    padding: 20px;
    text-align: center;
    float: right;
    font-size: 20px;
}

h1.pageTitle {
    padding: 20px;
    border-bottom: #777 solid 2px;
    color:  rgb(2, 4, 36);
    font-size: 30px;
    font-family: 'Alegreya Sans', sans-serif;
}
.container{
    padding-top:10px; 
    text-align: center;
}
.content-section {
    background-color: #ffffff;
    border: #dddddd solid 2px;
    width: 960px;
    margin:0 auto;
    height: 600px;
    font-family: 'Alegreya Sans', sans-serif;
}
.contactForm {
    margin: 0 auto;
    padding: 30px;
    width: 900px;
    min-height: 400px;
    font-family: 'Alegreya Sans', sans-serif;
}
.inputBox{
   
    width:850px;
}
.inputBox input {
    display: block;
    width: 800px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    margin-bottom: 10px;
}
.inputBox textarea{
    width:800px;
    min-height:150px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
/* label,input{
    font-size: 20px;
} */
img.profileImage {
    width: 150px;
    margin: 20px;
    float: left;
}

p.description {
    font-size: 20px;
    margin: 20px;
    line-height: 20px;
    /* text-align:  */
}

.portfolioImages {
    margin: 0 auto;
    width: 900px;
}
span.imgPlaceholder {
    display: inline-block;
    width: 200px;
    height: 200px;
}
img.game {
    width: 200px;
    padding: 10px;
    position: fixed;
    border-bottom: 5px;
    display: block;
}
span.gameText {

    position: absolute;
    z-index: 2;
    background: orange;
    text-align: center;
    padding: 10px;
    width: 180px;
    margin-top:120px;
    margin-left: 10px;
}
.footer {
    border-top: #4aaaa5 solid 5px;
    bottom: 0; 
    width: 100%;
    text-align: center;
    position: fixed;
    width: 100%;
    min-height: 8%;
    background:rgba(0, 0, 0, 0.7);
    color: white;
}

@media screen and (max-width: 980px) {
    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 960px;
        display: block;
        position: static;
    }
    .nameLogo {
        display:inline-block;
        text-align: center;
        width: 35%;
        font-size: 20px;
    }
    .sidebar{
        display:block;
        margin-right: 120px;
        float: right;
    }
    .content-section {
        width: 960px;
        height: auto;
        margin: 0 auto;
    
    
    }
    p.description{
        padding:10px;
    
    }
    .footer {
        display: block;
        position: fixed;
    }
}

@media screen and (max-width: 768px) {

    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 748px;
    }
    .nameLogo {
        display: inline-block;
        text-align: center;
        width: 35%;
        font-size: 20px;
        margin-left: 10px;
    }
    .sidebar {
        margin-right:100px;
        float:right;
    }
    .content-section {
        width: 748px;
        height: auto;
        margin: 0 auto;
    }
    .contactForm {
        width:700px;
    }
    .inputBox{
        width:750px;
    }
    .inputBox input{
        width:50%;

    }
    .inputBox textarea{
        width:50%;
        display: block;

    }
    img.profileImage {
        display: block;
        width: 200px;
        padding: 10px;
        height: 200px;
    }
    .footer {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .main{
        height: auto;
    
    }
    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 100%;
    }
    .nameLogo {
        display: block;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .sidebar {
        display: block;
        margin: 0px;
        float: unset;
    }
    .content-section {
        width: 500px;
        height: auto;
        margin: 0 auto;
        
    }
    img.profileImage {
        display: block;
        width: 85%;
        padding: 20px;
        height: 40%;
    }
    .contactForm {
        width:600px;
    }
    .inputBox{
        width:640px;
    }
    .inputBox input{
        width:50%;

    }
    .inputBox textarea{
        width:50%;
        display: block;

    }
    .portfolioImages{
        height:auto;    
    }
    .footer {
        display: block;
        width: 100%;
        position: fixed;
    }
}