* {
    box-sizing: border-box;
}

body{
    line-height: 1;
    background-color: #dddddd;
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/swirl_pattern.png);
    background-repeat: repeat;
}
.header {
    background-color: #ffffff;
    border-bottom: #ccc solid 2px;
    height: 60px;
    margin-bottom: 20px;
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.headerEnc {
    width: 960px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.borderRight {
    border-right: #ccc solid 2px;
    padding: 5px;
    margin: 5px;
}
.nameLogo {
    background-color: violet;
    color: #ccc;
    font-weight: bold;
    font-size: 35px;
    padding: 20px;
}

.sidebar {
    padding: 20px;
    text-align: center;
    float: right;
}

h1.pageTitle {
    padding: 20px;
    border-bottom: #777 solid 2px;
    color: violet;
    font-size: 30px;
    font-weight: bold;
}

.content-section {
    background-color: #ffffff;
    border: #dddddd solid 2px;
    width: 960px;
    margin:0 auto;
    margin-bottom: 20px;
}

.contactForm {
    margin: 0 auto;
    padding: 20px;
    width: 900px;
    min-height: 400px;
}
.inputBox{
    width:850px;
}
.inputBox input {
    display: block;
    width: 800px;
    padding: 5px;
    border: 1px solid #ccc;
    margin: 5px;
    margin-bottom: 10px;
}
.inputBox textarea{
    width:800px;
    min-height:150px;
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}
img.profileImage {
    width: 150px;
    margin: 20px;
    float: left;
}

p.description {
    font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
    font-size: 15px;
    color: #777777;
    margin: 20px;
    line-height: 20px;
    text-align: justify;
}

.portfolioImages {
    margin: 0 auto;
    width: 900px;
}
span.imgPlaceholder {
    display: inline-block;
    width: 200px;
    height: 200px;
}
img.game {
    width: 200px;
    padding: 10px;
    position: fixed;
}
span.gameText {

    position: absolute;
    z-index: 2;
    background: orange;
    text-align: center;
    padding: 10px;
    width: 180px;
    margin-top:160px;
    margin-left: 10px;
}
.footer {
    background-color: #666666;
    border-top: #4aaaa5 solid 5px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

@media screen and (max-width: 980px) {
    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 960px;
    }
    .nameLogo {
        display:inline-block;
        text-align: center;
        width: 35%;
        font-size: 20px;
    }
    .sidebar{
        display:block;
    }
    .content-section {
        width: 960px;
        margin-top: 40px;
    }
    .footer {
        display: block;
        position: fixed;
    }
}

@media screen and (max-width: 768px) {
    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 748px;
    }
    .nameLogo {
        display: inline-block;
        text-align: center;
        width: 35%;
        font-size: 20px;
    }
    .sidebar {
        display: block;
    }
    .content-section {
        width: 748px;
        height: auto;
        margin: 0 auto;
    }
    .contactForm {
        width:700px;
    }
    .inputBox{
        width:750px;
    }
    .inputBox input{
        width:50%;

    }
    .inputBox textarea{
        width:50%;
        display: block;

    }
    img.profileImage {
        display: block;
        width: 300px;
        padding: 20px;
        height: 200px;
    }
    .footer {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .main{
        height: auto;
        overflow: scroll;
    }
    .header {
        display: block;
        position: static;
        width: 100%;
        height: auto;
    }
    .headerEnc {
        width: 100%;
    }
    .nameLogo {
        display: block;
        margin-left: 0px;
        text-align: center;
        width: 100%;
    }
    .sidebar {
        display: block;
        margin: 0px;
        float: unset;
    }
    .content-section {
        width: 600px;
        height: auto;
        margin: 0 auto;
    }
    img.profileImage {
        display: block;
        width: 550px;
        padding: 20px;
        height: 400px;
    }
    .contactForm {
        width:600px;
    }
    .inputBox{
        width:640px;
    }
    .inputBox input{
        width:50%;

    }
    .inputBox textarea{
        width:50%;
        display: block;

    }
    .portfolioImages{
        height:auto;    
    }
    .footer {
        display: block;
        width: 100%;
        position: fixed;
    }
}